<div>
  <div class="input-error">
    <div class="alert alert-danger" v-if="submitErrors" v-for="error in submitErrors">
      <strong>ERROR! </strong> {{error}}
    </div>
    <div class="alert alert-info" v-if="submitInfo" v-for="error in submitInfo">
        <strong>INFO! </strong> {{error}}
      </div>
  </div>
  <form id="form-details" onsubmit="event.preventDefault();">
    <div class="form-group">
      <label for="project_name">Name</label>
      <input type="text" class="form-control" id="test" aria-describedby="projectHelp" placeholder="Enter Project Name" v-model="data.name">
      <small id="projectHelp" class="form-text text-muted">This is where you can define a Project Name.</small>
    </div>
    <div class="form-group">
      <label for="project_name">Description</label>
      <textarea id="txttypecaption" class="form-control" aria-describedby="projectDescHelp" placeholder="Enter Project Name" rows="3"></textarea>
      <small id="projectDescHelp" class="form-text text-muted">Say somthing about your porject.</small>
    </div>
    <div class="form-group">
      <label for="type_color">Color</label>
      <input type="color" class="form-control"  aria-describedby="projectHelpcolor" placeholder="Pick Color" v-model="data.color">
      <small id="projectHelpcolor" class="form-text text-muted">Pick Task Type Color.</small>
    </div>
    
    <button  class="btn bg-primary-button btn-block" v-on:click="submit">Save</button>
    <button  class="btn bg-primary-button btn-block" v-on:click="cancel">Cancel</button>
  </form>
  </div>
<script src='assets/davvag-task/editor.js'></script>
<link href="assets/davvag-task/editor.css" type="text/css" rel="stylesheet"/>