<div class="input-form">
<h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Backup Files</h1>
<hr>
<div class="input-error">
  <div class="alert alert-danger" v-if="submitErrors" v-for="error in submitErrors">
    <strong>ERROR! </strong> {{error}}
  </div>
  <div class="alert alert-info" v-if="submitInfo" v-for="error in submitInfo">
      <strong>INFO! </strong> {{error}}
    </div>
</div>

  <table class="table table-condensed">
    <thead>
      <tr>
        <td>Name</td>
        <td>Size</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="file in files">
        <td><a :href="'components/davvag-hosting-console/hosting-handler/service/File?file='+file.name"> {{ file.name }}</a></td>
        <td>{{ file.size }}</td>
        <td><button  class="btn btn-danger btn-block" v-on:click="delete_file(file)">Delete</button>
          <button  class="btn btn-primary btn-block" v-on:click="download(file)">Download</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>