
<div  id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li v-for="(can, index) in carousel" data-target="#carouselExampleIndicators" :data-slide-to="index" :class="index==0?'active':''"></li>
  </ol>
  <div class="carousel-inner">
    <div v-for="(can, index) in carousel" :class="index==0?'carousel-item active':'carousel-item'">
      <img class="d-block w-100" :src="can.imgurl" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h1 v-if="can.title" v-html="can.title"></h1>
        <p v-if="can.caption" v-html="can.caption"></p>
        <a v-if="can.button_caption" :href="can.button_url" class="btn bg-primary-button">{{ can.button_caption }}</a>
      </div>
    </div>
    
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3" v-for="item in products">
        <div class="product-grid">
            <div class="product-image">
                <a :href="'#/app/davvag-album/a?id='+item.id">
                    <img class="pic-1" :src="'components/davvag-cms/soss-uploader/service/get/d_cms_album/'+item.id+'-'+item.imgname">
                </a>
                <ul class="social">
                    <li><a :href="'#/app/davvag-album/a?id='+item.id" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                    <li><a :href="'https://facebook.com/sharer/sharer.php?u='+escape(getURL(item))" data-tip="Share On Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                    <li><a :href="'https://facebook.com/sharer/sharer.php?u='+escape(getURL(item))" data-tip="Share On twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <i class="fab fa-instagram"></i>
                </ul>
            </div>
            <div class="product-content">
                <h3 class="title"><a :href="'#/app/davvag-album/a?id='+item.id">{{ item.title }}</a></h3>
                <p>{{ item.summery }}</p>
            </div>
        </div>
    </div>
  </div>
</div>






