<div class="input-form">
<h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Email Settings</h1>
<hr>
<div class="input-error">
  <div class="alert alert-danger" v-if="submitErrors" v-for="error in submitErrors">
    <strong>ERROR! </strong> {{error}}
  </div>
  <div class="alert alert-info" v-if="submitInfo" v-for="error in submitInfo">
      <strong>INFO! </strong> {{error}}
    </div>
</div>
<form id="form-details">
  <div class="form-group">
    <label for="exampleInputEmail1">Host</label>
    <input type="text" class="form-control"  aria-describedby="host" placeholder="Server IP or Address of your SMTP server" v-model="data.host">
    <small id="hostdec" class="form-text text-muted">Please select a reliable smtp provider That is Fast and reliable.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email Address</label>
    <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="email" v-model="data.username">
    <small id="emailHelp" class="form-text text-muted">The usernam for your SMTP Provider.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="data.password">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Port</label>
    <input type="number" class="form-control"  aria-describedby="portHelp" placeholder="Port of the server" v-model="data.port">
    <small id="portHelp" class="form-text text-muted">This is provided for by mail service provider.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Company Name</label>
    <input type="text" class="form-control"  aria-describedby="companyHelp" placeholder="Company Name" v-model="data.otherdata.companyname">
    <small id="comapnyHelp" class="form-text text-muted">This is provided for by mail service provider.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Your web URL</label>
    <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Web Site URL" v-model="data.otherdata.url">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Signature</label>
    <input type="text" class="form-control"  aria-describedby="signHelp" placeholder="Mail Signature" v-model="data.otherdata.sign">
    <small id="signHelp" class="form-text text-muted">mail footer signatures.</small>
  </div>
  
  <button  class="btn bg-primary-button btn-block" v-on:click="submit">Save Setting</button>
  <button  class="btn bg-primary-button btn-block" v-on:click="sendmail">Test Email</button>
</form>
</div>