<div class="input-form">
  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Projects</h1>
  <hr>
  <div class="input-error">
    <div class="alert alert-danger" v-if="submitErrors" v-for="error in submitErrors">
      <strong>ERROR! </strong> {{error}}
    </div>
    <div class="alert alert-info" v-if="submitInfo" v-for="error in submitInfo">
        <strong>INFO! </strong> {{error}}
      </div>
  </div>
  <form id="form-details">
    <div class="form-group">
      <label for="exampleInputEmail1">Project Name</label>
      <input type="text" class="form-control" id="test" aria-describedby="emailHelp" placeholder="Enter Project Name" v-model="data.projectName"><div class="dropdown ml-2"><button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-light btn-sm dropdown-toggle w-sm">
        Everyone <i class="mdi mdi-chevron-down"></i></button> <div id="dr-status" class="dropdown-menu dropdown-menu-right show" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-70px, -195px, 0px);" x-out-of-boundaries=""><a class="dropdown-item">Everyone</a> <a class="dropdown-item">Nobody</a> <a class="dropdown-item">Followers</a></div></div>
      <small id="emailHelp" class="form-text text-muted">Project Name.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="data.password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" v-model="data.checkbox">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="autocomplete" style="width:300px;">
      <input id="myInput" class="form-control" type="text" name="myCountry" placeholder="Country">
    </div>
    
    <button  class="btn bg-primary-button btn-block" v-on:click="submit">Submit</button>
  </form>
  </div>