<div class="input-form">
<h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Select A Payment Method</h1>
<hr>
<div class="input-error">
  <div class="alert alert-danger" v-if="submitErrors" v-for="error in submitErrors">
    <strong>ERROR! </strong> {{error}}
  </div>
  <div class="alert alert-info" v-if="submitInfo" v-for="error in submitInfo">
      <strong>INFO! </strong> {{error}}
    </div>
</div>

<ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
  <li class="nav-item" v-for="item in data">
		<button class="nav-link active" v-on:click="goto(item)">
		<img width="150Px" :src="item.iconurl"></button></li>
</ul>
<h4 v-if="data.legth==0">Sorry ! No Payment method is active at the moment. </h4>
</div>