<div class="input-form">
<h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Directpay Settings</h1>
<hr>
<div class="input-error">
  <div class="alert alert-danger" v-if="submitErrors" v-for="error in submitErrors">
    <strong>ERROR! </strong> {{error}}
  </div>
  <div class="alert alert-info" v-if="submitInfo" v-for="error in submitInfo">
      <strong>INFO! </strong> {{error}}
    </div>
</div>
<form id="form-details">
  <div class="form-group">
    <label for="exampleInputEmail1">Merchant ID</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" v-model="data.mainkey">
    <small id="emailHelp" class="form-text text-muted">.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">App Key</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="data.appkey">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">API URI</label>
    <select class="form-control mb15" data-placeholder="Choose Selling Method"  title="" v-model="data.apiuri">
      <option value="https://cdn.directpay.lk/dev/v1/directpayCardPayment.js?v=1">TEST v.1</option>
      <option value="https://cdn.directpay.lk/live/00061/v1/directpayCardPayment.js?v=2.0.1">LIVE v.2.01</option>
      <option value="https://cdn.directpay.lk/live/00056/v1/directpayCardPayment.js">LIVE v.1</option>
    </select>
    
  </div>
  <button  class="btn bg-primary-button btn-block" v-on:click="submit">Save Settings</button>
</form>
</div>